/* General style for all links of the website */

body{
    font-family: 'Zen Kurenaido', sans-serif;
    overflow-x: hidden
}

/* Titles of the webpage */

.lines-effect {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
    margin-bottom: 50px;
}

.lines-effect::after, h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.lines-effect:hover::before, h1:hover::after {
    transform: scale(1);
}

.lines-effect::before {
    left: -140px;
}

.lines-effect::after {
    right: -140px;
}

a {
    color: #0f6a6d;
    font-family: 'Zen Kurenaido', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

/* Main container styles */

.container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card {
    margin: 15px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.carousel-control-prev {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.carousel-control-next {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/* Rating stars */

.checked {
    color: orange;
}

/* Map style */

#map {
    margin: 20px;
    height: 600px;
    border-radius: 10px;
}

/* Filter style */

.filter-fields {
    margin: 10;
    padding: 10;
    border-radius: 5%;
}

#no-items {
    border: 1px solid #ccc;
    padding: 1rem;
    border-left: 5px solid red;
    background-color: pink;
    color: red;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    display: none;
}

#reset-btn {
    margin: 10;
}

/* Review cotainer styles */

.review-container {
    overflow-x: hidden
}

.sm-text {
    font-size: 10px;
    letter-spacing: 1px
}

.sm-text-1 {
    font-size: 14px
}

.green-tab {
    background-color: #00C853;
    color: #fff;
    border-radius: 5px;
    padding: 5px 3px 5px 3px
}

.yellow-tab {
    background-color: #FFD54F;
    color: #fff;
    border-radius: 5px;
    padding: 5px 3px 5px 3px
}

.red-tab {
    background-color: #E64A19;
    color: #fff;
    border-radius: 5px;
    padding: 5px 3px 5px 3px
}

.btn-blue {
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none
}

.btn-blue:hover {
    background-color: #32b3e6
}

.btn-blue:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.round-icon {
    font-size: 40px;
    padding-bottom: 10px
}

.fa-circle {
    font-size: 10px;
    color: #EEEEEF
}

.green-dot {
    color: #4CAF50
}

.red-dot {
    color: #E64A19
}

.yellow-dot {
    color: #FFD54F
}

.grey-text {
    color: #BDBDBD
}

.green-text {
    color: #4CAF50
}

.yellow-text {
    color: #FFD54F
}

.red-text {
    color: #E64A19
}

.block {
    border-right: 1px solid #F5EEEE;
    border-top: 1px solid #F5EEEE;
    border-bottom: 1px solid #F5EEEE
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.rating-dot {
    letter-spacing: 5px
}

.via {
    border-radius: 20px;
    height: 28px
}

.row.pb-3 {
    padding: 16px;
}

/* Review modal styles */

.modal {
    position: relative;
    width: 500px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post{
    display: none;
}

.text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.edit:hover{
    text-decoration: underline;
}

.star-widget .star{
    display: none;
}

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

.star:not(:checked) ~ label:hover,
.star:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

.star:checked ~ label{
    color: #fd4;
}

.star#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before{
    content: "I just hate it ";
}

#rate-2:checked ~ form header:before{
    content: "I don't like it ";
}

#rate-3:checked ~ form header:before{
    content: "It is awesome ";
}

#rate-4:checked ~ form header:before{
    content: "I just like it ";
}

#rate-5:checked ~ form header:before{
    content: "I just love it ";
}

.container form{
    display: none;
}

.star:checked ~ form{
    display: block;
}

form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus{
    border-color: #444;
}

form .input{
    height: 50px;
    width: 100%;
    overflow: hidden;
}

form .input .username{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.input .username:focus{
    border-color: #444;
}

form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover{
    background: #1b1b1b;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal to show the response from the server */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  #closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
  }
  
#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
